.navbar {
  overflow: hidden;
  background-color:rgba(0,0,0,0.2);;/*#7BC0D8;*/
  position: fixed;
  top: 0;
 
  margin-left:-10px;
  width: 1370px;
 
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color:white;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
